<template>
  <div class="area-main">
    <div id="map">
      <div id="plane"></div>
    </div>
    <button @click="toggleAnimation" class="buttons">{{ animationRunning ? 'Stop' : 'Start' }}</button>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import animationData from './data/data.json';

const DISPLAY_TIME = 20;
const COEFFICIENT_ALLOWED_AREA = 1 / 9 * 10;
const INITIAL_COORDINATES = {y: 0, x: 0};
const PLANE_SIZE_PIXEL = 20;

let indexTick = ref(0);
let tickDuration = 1000;
let timeoutReference;
let plane = null;
let animationRunning = ref(true);
let mapCoords;
let planeCoordinates;
let planeRealCoordinates = INITIAL_COORDINATES;
let minY = Number.MAX_VALUE;
let minX = Number.MAX_VALUE;
let maxY = Number.MIN_VALUE;
let maxX = Number.MIN_VALUE;
let metresPerPixel = 1;
let renderNextTick;
let steps = [];

const resetRender = () => {
  clearTimeout(timeoutReference);
  redrawPoint(plane, calculatePoint(mapCoords, { y: 0, x: 0 }));
  indexTick.value = 0;
};

const startRender = () => {
  resetRender();
  renderNextTick();
};

const stopRender = () => {
  resetRender();
  clearTimeout(timeoutReference);
};

const toggleAnimation = () => {
  animationRunning.value ? stopRender() : startRender();
  animationRunning.value = !animationRunning.value;
};

let states = animationData;

const getCoords = (elem) => {
  let box = elem.getBoundingClientRect();

  let top = box.top + window.pageYOffset;
  let right = box.right + window.pageXOffset;
  let bottom = box.bottom + window.pageYOffset;
  let left = box.left + window.pageXOffset;

  return {
    top: top,
    right: right,
    bottom: bottom,
    left: left,
    width: right - left,
    height: bottom - top,
  };
};

const redrawPoint = (subject, pixels) => {
  let offset = PLANE_SIZE_PIXEL / 2;
  let top = pixels.y - offset;
  let left = pixels.x - offset;
  subject.style = 'top: ' + top + 'px; left: ' + left + 'px;';
};

const calculatePoint = (mapCoords, plane) => {
  let y = mapCoords.height / 2 + plane.y;
  let x = mapCoords.width / 2 + plane.x;

  return {
    y: y + mapCoords.top,
    x: x + mapCoords.left,
  };
};

const addSteps = (coords) => {
  steps.push({
    y: coords.y,
    x: coords.x,
  });
};

const calculateRealCoordinates = () => {
  for (let key in states) {
    let state = states[key];
    let nextState = states[++key];
    if (!nextState) {
      break;
    }

    let speedMetresPerSecond = Number(state.speed) * 1000 / 3600;
    let period = nextState.timestamp - state.timestamp;
    let pathDistance = speedMetresPerSecond * period;

    let angle = Number(state.direction);
    let radians = angle * Math.PI / 180;
    planeRealCoordinates.y = planeRealCoordinates.y + (pathDistance * Math.sin(radians));
    planeRealCoordinates.x = planeRealCoordinates.x + (pathDistance * Math.cos(radians));
    minY = Math.min(minY, planeRealCoordinates.y);
    maxY = Math.max(maxY, planeRealCoordinates.y);
    minX = Math.min(minX, planeRealCoordinates.x);
    maxX = Math.max(maxX, planeRealCoordinates.x);
    addSteps(planeRealCoordinates);
  }
};

calculateRealCoordinates();
let maxPassedPerDirectionMetres = Math.max(maxY, maxX, Math.abs(minY), Math.abs(minX));
let showedMetres = maxPassedPerDirectionMetres * COEFFICIENT_ALLOWED_AREA;

onMounted(() => {
  mapCoords = getCoords(document.getElementById('map'));
  planeCoordinates = calculatePoint(mapCoords, INITIAL_COORDINATES);
  plane = document.getElementById('plane');
  redrawPoint(plane, planeCoordinates);

  metresPerPixel = showedMetres / (mapCoords.height / 2);
  tickDuration = DISPLAY_TIME / steps.length;

  renderNextTick = () => {
    indexTick.value++;
    if (indexTick.value >= steps.length) {
      return;
    }

    let currentState = steps[indexTick.value];

    planeCoordinates = calculatePoint(mapCoords, {
      y: -currentState.y / metresPerPixel,
      x: currentState.x / metresPerPixel,
    });

    redrawPoint(plane, planeCoordinates);

    timeoutReference = setTimeout(renderNextTick, tickDuration * 1000);
  };

  startRender();
});
</script>

<style scoped>
.area-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/map_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#plane {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: 100px;
  line-height: 2em;
}
</style>
